<!--
  Plantilla para el componente AppointmentsComponent.
  Muestra una lista de citas y un formulario para añadir nuevas citas.
-->

<div class="appointments-container">
  
	<!-- Spinner de carga que se muestra mientras se cargan los datos. -->
	<mat-spinner *ngIf="_appointmentsFacade.loading$ | async" class="loading-spinner"></mat-spinner>
  
	<!-- Contenedor de la lista de citas. Se muestra solo si hay citas disponibles. -->
	<div *ngIf="_appointmentsFacade.appointments$ | async as appointments">
	  <h2 class="appointments-title d-flex">
		Appointments
		<!-- Botón para actualizar la lista de citas -->
		<button mat-button (click)="loadData()">
		  <mat-icon>refresh</mat-icon>
		</button>
	  </h2>
  
	  <!-- Lista de citas -->
	  <div>
		<div *ngFor="let appointment of appointments">
		  <div class="appointment-info">
			<!-- Información de la cita -->
			<span class="appointment-client">
			  {{ appointment.user.name }}
			</span>
			<span class="appointment-service">
			  {{ appointment.service.name }}
			</span>
			<span class="appointment-date">
			  {{ appointment.appointment_date | date:'short' }}
			</span>
		  </div>
		</div>
	  </div>
	</div>
  
	<!-- Formulario para añadir una nueva cita -->
	<div class="add-appointment-form">
	  <h3 class="form-title">Add New Appointment</h3>
	  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
		
		<!-- Campo para seleccionar el cliente -->
		<mat-form-field appearance="fill">
		  <mat-label>Cliente</mat-label>
		  <mat-select formControlName="user_id">
			<mat-option *ngFor="let client of clients" [value]="client.id">
			  {{ client.name }}
			</mat-option>
		  </mat-select>
		</mat-form-field>
  
		<!-- Campo para seleccionar el barbero -->
		<mat-form-field appearance="fill">
		  <mat-label>Barber</mat-label>
		  <mat-select formControlName="barber_id">
			<mat-option *ngFor="let barber of barbers" [value]="barber.id">
			  {{ barber.name }}
			</mat-option>
		  </mat-select>
		</mat-form-field>
  
		<!-- Campo para seleccionar el servicio -->
		<mat-form-field appearance="fill">
		  <mat-label>Service</mat-label>
		  <mat-select formControlName="service_id">
			<mat-option *ngFor="let service of services" [value]="service.id">
			  {{ service.name }}
			</mat-option>
		  </mat-select>
		</mat-form-field>
  
		<!-- Campo para seleccionar la fecha y hora de la cita -->
		<mat-form-field appearance="fill">
		  <mat-label>Appointment Date</mat-label>
		  <input matInput formControlName="appointment_date" type="datetime-local">
		</mat-form-field>
  
		<div>
		  <!-- Botón para enviar el formulario -->
		  <button [disabled]="appointmentForm.invalid" mat-raised-button color="primary" type="submit">
			Create Appointment
		  </button>
		</div>
	  </form>
	</div>
  </div>
  