<!-- Plantilla para el componente ClientsComponent.
  Muestra una lista de clientes y un formulario para añadir nuevos clientes. -->

<div class="clients-container">
	<!-- Título de la sección de clientes -->
	<div>
		<h2 class="clients-title">Clientes</h2>

		<!-- Lista de clientes -->
		<mat-list>
			<mat-list-item *ngFor="let client of clients; let i = index"
				class="client-item">
				<div class="client-info">
					<!-- Información del cliente -->
					<span>{{ client.id }}</span>
					<span>-</span>
					<span class="client-client">{{ client.name }}</span>
					<span>-</span>
					<span class="client-service">{{ client.email }}</span>
					<span>
						<!-- Botón para eliminar el cliente -->
						<button (click)="deleteItem(client.id)"
							mat-button>
							<mat-icon>delete</mat-icon>
						</button>
					</span>
				</div>
			</mat-list-item>
		</mat-list>
	</div>

	<!-- Formulario para añadir un nuevo cliente -->
	<div class="add-client-form">
		<h3 class="form-title">Add New Client</h3>
		<form [formGroup]="clientForm"
			(ngSubmit)="onSubmit()">
			<!-- Campo para el nombre del cliente -->
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Nombre</mat-label>
					<input matInput
						formControlName="name"
						type="text">
				</mat-form-field>
			</div>
			<!-- Campo para el email del cliente -->
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput
						formControlName="email"
						type="email">
				</mat-form-field>
			</div>
			<!-- Campo para la contraseña del cliente -->
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Password</mat-label>
					<input matInput
						formControlName="password"
						type="password">
				</mat-form-field>
			</div>
			<!-- Botón para enviar el formulario -->
			<div>
				<button [disabled]="clientForm.invalid"
					mat-raised-button
					color="primary"
					type="submit">
					Create Client
				</button>
			</div>
		</form>
	</div>
</div>
