<!-- Plantilla para el componente BarbersComponent.
  Muestra una lista de barberos y un formulario para añadir nuevos barberos. -->

<div class="barbers-container">
	<!-- Título de la sección de barberos -->
	<div>
		<h2 class="barbers-title">Barberos</h2>

		<!-- Lista de barberos -->
		<mat-list>
			<mat-list-item *ngFor="let barber of barbers; let i = index"
				class="barber-item">
				<div class="barber-info">
					<!-- Información del barbero -->
					<span>{{ barber.id }}</span>
					<span>-</span>
					<span class="barber-client">{{ barber.name }}</span>
					<span>-</span>
					<span class="barber-service">{{ barber.email }}</span>
					<span>
						<!-- Botón para eliminar el barbero -->
						<button (click)="deleteItem(barber.id)"
							mat-button>
							<mat-icon>delete</mat-icon>
						</button>
					</span>
				</div>
			</mat-list-item>
		</mat-list>
	</div>

	<!-- Formulario para añadir un nuevo barbero -->
	<div class="add-barber-form">
		<h3 class="form-title">Add New Barber</h3>
		<form [formGroup]="barberForm"
			(ngSubmit)="onSubmit()">
			<!-- Campo para el nombre del barbero -->
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Nombre</mat-label>
					<input matInput
						formControlName="name"
						type="text">
				</mat-form-field>
			</div>
			<!-- Campo para el email del barbero -->
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput
						formControlName="email"
						type="email">
				</mat-form-field>
			</div>
			<!-- Campo para la contraseña del barbero -->
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Password</mat-label>
					<input matInput
						formControlName="password"
						type="password">
				</mat-form-field>
			</div>
			<!-- Botón para enviar el formulario -->
			<div>
				<button [disabled]="barberForm.invalid"
					mat-raised-button
					color="primary"
					type="submit">
					Create Barber
				</button>
			</div>
		</form>
	</div>
</div>
